<h3 class="center">Here's what I already know of</h3>
<select (change)="onChange($event.target.value)" class="filter">
  <option value="less">Below 500</option>
  <option value="more">Above 500</option>
  <option value="all" selected="selected">View All</option>
</select>
<table class="table table-hover">
<thead>
  <tr>
    <th>Meal Name</th>
    <th>About It</th>
    <th>Its Calories</th>
    <th>Edit?</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let currentMeal of childMealList | calorieness:selectedCalorieness">
    <td>{{currentMeal.name}}</td>
    <td>{{currentMeal.description}}</td>
    <td>{{currentMeal.calories}}</td>
    <td><button (click)="editButtonHasBeenClicked(currentMeal)">Edit</button></td>
</tr>
<tr><td></td><td>Total Calories:</td>
  <td>{{getTotal()}}</td>
  <td></td></tr>
</tbody>
</table>
