<h3>Enter New Meal</h3>


  <form class="form-inline">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" #newName placeholder="Meal Name Goes Here">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" class="form-control" #newDescription placeholder="Meal Details Go Here" >
    </div>
    <div class="form-group">
      <label for="calories">No of Calories:</label>
      <input type="text" class="form-control" #newCalories placeholder="Calories Go Here">
    </div>
    <button (click)="addClicked(newName.value, newDescription.value,newCalories.value);
                      newName.value='';newDescription.value='';newCalories.value=''" class="btn btn-default">ADD</button>
  </form>
